{% load static %}
<div class="cizgi"></div>
<section class="bg-black p-5">
   <div class="container">
        <div class="row justify-content-center align-items-center text-white text-center">
            <div class="col-lg-6 col-12">
                <h1>Televizyonunuzda izleyin</h1>
                <p>Akıllı TV, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray oynatıcılar ve daha fazlasında seyredin.</p>
            </div>
            <div class="col-lg-6 col-12">
                <img src="{% static "img/resim1.png" %}" class="w-100" alt="">
            </div>
        </div>
   </div>
</section>
<div class="cizgi"></div>
<section class="bg-black p-5">
   <div class="container">
        <div class="row justify-content-center align-items-center text-white text-center">
            <div class="col-lg-6 col-12 order-lg-0 order-1">
                <img src="{% static "img/resim2.jpg" %}" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-12 order-lg-1 order-0">
                <h1>Çevrimdışı izlemek için içerikleri indirin</h1>
                <p>En sevdiğiniz içerikleri kolayca kaydedin ve her zaman izleyecek bir şeyleriniz olsun.</p>
            </div>
            
        </div>
   </div>
</section>
<div class="cizgi"></div>
<section class="bg-black p-5">
   <div class="container">
        <div class="row justify-content-center align-items-center text-white text-center">
            <div class="col-lg-6 col-12">
                <h1>İstediğiniz her yerde izleyin</h1>
                <p>Telefonda, tablette, bilgisayarda, televizyonda sınırsız film ve dizi izleyin.</p>
            </div>
            <div class="col-lg-6 col-12">
                <img src="{% static "img/resim3.png" %}" class="w-100" alt="">
            </div>
        </div>
   </div>
</section>
<div class="cizgi"></div>
<section class="bg-black p-5">
   <div class="container">
        <div class="row justify-content-center align-items-center text-white text-center">
            <div class="col-lg-6 col-12 order-lg-0 order-1">
                <img src="{% static "img/resim4.png" %}" class="w-100" alt="">
            </div>
            <div class="col-lg-6 col-12 order-lg-1 order-0">
                <h1>Çocuklarınız için profiller oluşturun</h1>
                <p>Üyeliğinize dâhil olan bu ücretsiz deneyim sayesinde çocuklarınız, sadece onlara özel bir alanda en sevdikleri karakterlerle maceralara atılabilir.</p>
            </div>
            
        </div>
   </div>
</section>
<div class="cizgi"></div>
<section class="bg-black p-5">
    <div class="container">
        <div class="m-2">
            <div class="acil d-flex justify-content-between align-items-center">
                <p class="m-0">Netflix Nedir ? </p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.

                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="m-2">
            <div class="acil d-flex justify-content-between align-items-center">
                <p class="m-0">Netflixin Maliyeti Nedir ? </p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.

                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="m-2">
            <div class="acil d-flex justify-content-between align-items-center">
                <p class="m-0">Nerede İzleyebilirim </p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.

                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="m-2">
            <div class="acil d-flex justify-content-between align-items-center">
                <p class="m-0">Nasıl iptal ederim ?  </p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.

                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        <div class="m-2">
            <div class="acil d-flex justify-content-between align-items-center">
                <p class="m-0">Netflixte ne izleyebilirim </p>
                <i class="fa-solid fa-plus"></i>
            </div>
            <div class="acilmis">
                <p>Netflix; internet bağlantılı binlerce cihazda ödüllü diziler, filmler, animeler, belgeseller ve daha fazlasını içeren geniş bir arşiv sunan bir streaming hizmetidir.

                    Tek bir reklam olmadan, istediğiniz kadar, istediğiniz zaman izleyebilirsiniz - hepsi aylık düşük bir ücret karşılığında. Her zaman keşfedilecek yeni bir şeyler var, üstelik her hafta yeni diziler ve filmler ekleniyor!</p>
            </div>
        </div>
        
        <p class="text-white text-center fs-4 mt-5">İzlemeye hazır mısınız? Üye olmak ya da hesabınıza tekrar ulaşmak için tek yapmanız gereken e-posta adresinizi girmek.</p>

        <div class="d-flex justify-content-center gap-2">
            <input class="bg-transparent text-white p-3 form-control w-25" type="text" placeholder="E-posta adresi">
            <button class="btn btn-danger">Başlayın ></button>
        </div>
    </div>
</section>
<div class="cizgi"></div>