{% extends "partials/base.html" %}
{% load static %}


{% block css %}
    <style>
        body{
           background-color: rgb(50, 50, 50) !important; 
        }
        header{
            height: 700px;
        }
    </style>
{% endblock css %}

{% block content %}

<header class="position-relative">
    <div class="position-absolute ortala text-white text-center ">
      
      <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {% for field in form %} 
            {{field.errors}}
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        {% endfor %}
        <input class='btn btn-danger mt-3' type="submit" value="Profil Olustur">
      </form>
    
    </div>
</header>   

{% endblock content %}
