{% extends "partials/base.html" %}


{% block css %}
    <style>
        body{
            background-color:black !important;
            
        }
    </style>
{% endblock css %}

{% block content %}

{% load static %}
 {% include "partials/_navbar.html" %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <h3 class='text-white my-3'>Aradıgın film</h3>
            </div>
            {% for i in search %}
            
            <div class="col-3">
                <div class="card  rounded-2 bg-transparent text-white fs-5 text-center">
                    <img src="{{i.image.url}}" class='rounded-2 w-100' alt="">
                    <p class='bg-transparent'>{{i.title}}</p>
                </div>  
           </div> 
            
            {% endfor %}
   
    </div>

{% endblock content %}